footer {
    height: 60px;
    width: 100%;
    background-color: white;
    border-top: 1px solid #CCCCCC;
    text-align: center;
    position: fixed;
    margin-top: 100%;
    vertical-align: middle;
}
