header {
    height: 70px;
    width: 100%;
    background-color: white;
    border: 1px solid #CCCCCC;
    margin-bottom: 30px;
  }

  .logo {
    background-image: url(assets/images/logo.png);
    background-repeat: no-repeat;
    margin-left: 20px;
    height: 70px;
    width: 50%;
  }
