.locations, .amenities {
    float: left;
    height: 100%;
    width: 25%;
 }
.filters .locations {
    border-right: 1px solid #DDDDDD;
}
.filters .locations h4, .filters .amenities h4 {
    font-weight: 400;
    font-size: 14px;
    display: inline-block;
    margin-top: 0;
    padding-top: 0;
    position: inherit;
    top: 0;
}
.filters .locations h3, .filters .amenities h3 {
    font-weight: 600;
    margin-bottom: 0;
    padding-bottom: 0;
}
